build-Client-Desktop_Qt_5_15_2_clang_64bit-Debug/**
build-Server-Desktop_Qt_5_15_2_clang_64bit-Debug/**
build-Client-Desktop_x86_windows_msvc2017_pe_64bit-Debug/**
build-Server-Desktop_x86_windows_msvc2017_pe_64bit-Debug/**
.DS_Store